HtmlOptimization/HtmlOptimization.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:tns="urn:HtmlOptimization.Config"
           targetNamespace="urn:HtmlOptimization.Config"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="htmlOptimization">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="htmlImageThumbnail">
          <xs:complexType>
            <xs:attribute name="cacheFolder" type="xs:string"></xs:attribute>
            <xs:attribute name="createCacheFolder" type="xs:boolean"></xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="compressModule">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="extensions" maxOccurs="1">
                <xs:complexType>

                  <xs:sequence>
                    <xs:element name="add" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="value"></xs:attribute>
                        <xs:attribute name="process" type="xs:boolean"></xs:attribute>
                        <xs:attribute name="compressionType">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="None"/>
                              <xs:enumeration value="Deflate"/>
                              <xs:enumeration value="GZip"/>
                              <xs:enumeration value="Deflate,GZip"/>
                              <xs:enumeration value="GZip,Deflate"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="compressionType">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="None"/>
                  <xs:enumeration value="Deflate"/>
                  <xs:enumeration value="GZip"/>
                  <xs:enumeration value="Deflate,GZip"/>
                  <xs:enumeration value="GZip,Deflate"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="minifyModule">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="extensions" maxOccurs="1">
                <xs:complexType>

                  <xs:sequence>
                    <xs:element name="add" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:string"></xs:attribute>
                        <xs:attribute name="process" type="xs:boolean"></xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>

                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>

    </xs:complexType>
  </xs:element>
</xs:schema>